################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/src/Jizhousoft.OrchardCore.Sample/App_Data/logs 
obj/
bin/
/src/Jizhousoft.OrchardCore.Sample/obj/Debug/netcoreapp3.1
