################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Jizhousoft.OrchardCore.Sample/v16
/.vs/Jizhousoft.OrchardCore.Sample/config/applicationhost.config
/.vs/Jizhousoft.OrchardCore.Sample/config
/src/Jizhousoft.OrchardCore.Sample/App_Data/logs
